
 .cards  li{
    width: 350px;
    height: 354px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    margin-right: 10px;
    float: left;
    margin-top: 80px;
}
li h3{
    font-family: Mulish, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.4rem;
    line-height: 2.3;
    color: black;
}
li p{
    font-family: Mulish, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #7d7987;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}